@font-face {
  font-family: "Georgia";
  src: url("../fonts/Gelasio-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

/*variables*/
$font_georgia: "Georgia", sans-serif;
$body_color: #a0c0f0;
$font-color: #000000;
$cell_color: #fafafa;
$color_active_cells: #c8c8c8;
$color_border_cells: #5f5f5f;
$color_one_digit: #000080;
$color_two_digit: #00a86b;
$color_three_digit: #cc0002;
$color_four_digit: rgb(0, 0, 41);
$color_five_digit: brown;
$color_six_digit: rgb(0, 215, 253);
$color_seven_digit: #000000;
$color_eight_digit: #599905;
/*variables*/

body {
  background: url(../images/1679317128_bogatyr-club-p-zastavka-na-rabochii-stol-koti-foni-vkonta-3.jpg);
  display: flex;
  background-position: cover;
  background-size: 100% 100%;
}

.container {
  font-family: $font_georgia;
  color: $font-color;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-around;
  // gap: 30px;
  // margin: 0 auto;
  padding: 40px 0px;
}

.container_main {
}
.title_block {
  font-size: 300%;
  text-align: center;
}
.tools_block {
}

.container_game {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.duration_block {
}
.counter_mines {
  font-size: 150%;
}

.game_block {
  display: grid;
}

.cell {
  height: 40px;
  width: 40px;
  // padding: 20px;
  background: $cell_color;
  border: 4px outset;
  cursor: pointer;
  font-size: 200%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(100%, 100%, 100%, 0);
}
// .cell:active {
//   border: 2px solid $color_border_cells;
//   background: $color_active_cells;
// }

.mine {
  height: 100%;
  width: 100%;
}

.flag {
  height: 100%;
  width: 100%; 
}
.opened {
  border: 2px solid $color_border_cells;
  background: $color_active_cells;
  // color: rgba(100%, 100%, 100%, 1);
  color: red;
}

.one {
  color: $color_one_digit;
}

.two {
  color: $color_two_digit;
}
.three {
  color: $color_three_digit;
}
.four {
  color: $color_four_digit;
}

.five {
  color: $color_five_digit;
}

.six {
  color: $color_six_digit;
}

.seven {
  color: $color_seven_digit;
}

.eight {
  color: $color_eight_digit;
}
