@font-face {
  font-family: "Georgia";
  src: url("../fonts/Gelasio-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

/*variables*/
$font_georgia: "Georgia", sans-serif;
$body_color: #a0c0f0;
$font-color: #000000;
$font-color_white: #ffffff;
$cell_color: #000000;
$color_active_cells: #c8c8c8;
$color_border_cells: #5f5f5f;
$color_one_digit: #000080;
$color_two_digit: #00a86b;
$color_three_digit: #cc0002;
$color_four_digit: rgb(0, 0, 41);
$color_five_digit: brown;
$color_six_digit: rgb(0, 215, 253);
$color_seven_digit: #000000;
$color_eight_digit: #599905;
/*variables*/

body {
  background: url(../images/whitetheme.jpg);
  display: flex;
  background-position: cover;
  background-size: 100% 100%;
  position: relative;
}

.container {
  font-family: $font_georgia;
  color: $font-color;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
  // margin: 0 auto;
  padding: 40px 0px;
}
.container_game {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container_tools {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title_block {
  font-size: 200%;
  font-style: bold;
  // text-align: center;
}
.tools_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid $color_active_cells;
  padding: 10px;
  border-radius: 5px;
  background: $cell_color;
  color: $font-color_white;
}

.tools_title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-style: italic;
  font-size: 120%;
  font-style: 700;
}

.size_block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.size_title {
  font-style: italic;
}

.size_form {
  display: flex;
  // flex-direction: column;
  gap: 10px;
}
input[type=radio] {
 background-color: $color_three_digit;
}

.number_mines_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.number_mines_title {
  font-style: italic;
}
#numberOfMines {
  max-width: 200px;
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 12px;
  border: 1px solid $font-color;
  background-color: #fff;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  background: $color_active_cells;
}

.theme_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme_title {
  font-style: italic;
}
.theme_form {
  display: flex;
  gap: 10px;
}

.start_button {
  max-width: 200px;
  text-align: center;
  border: 4px outset;
  padding: 15px 20px;
  cursor: pointer;
  color: $font-color_white;
  background: $cell_color;
}

.duration_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.number_clicks {
  font-size: 100%;
}
.counter_mines {
  font-size: 100%;
}

.counter_times {
  font-size: 100%;
}

.game_block {
  display: grid;
  justify-content: start;
  // justify-items: stretch;
}

.cell {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  // padding: 20px;
  background: $cell_color;
  border: 2px outset;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(100%, 100%, 100%, 0);
}
// .cell:active {
//   border: 2px solid $color_border_cells;
//   background: $color_active_cells;
// }

.mine {
  height: 100%;
  width: 100%;
}

.flag {
  height: 100%;
  width: 100%;
}
.opened {
  border: 1px solid $color_border_cells;
  background: $color_active_cells;
  // color: rgba(100%, 100%, 100%, 1);
  color: red;
}

.one {
  color: $color_one_digit;
}

.two {
  color: $color_two_digit;
}
.three {
  color: $color_three_digit;
}
.four {
  color: $color_four_digit;
}

.five {
  color: $color_five_digit;
}

.six {
  color: $color_six_digit;
}

.seven {
  color: $color_seven_digit;
}

.eight {
  color: $color_eight_digit;
}

.window_result {
  position: fixed;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 110%;
  border: 4px outset;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: $cell_color;
  color: $font-color_white;
}

.result_text {
  text-align: center;
  font-size: 120%;
  line-height: 110%;
}

.button_ok {
  max-width: 60px;
  padding: 10px 15px;
  border: 1px solid $color_border_cells;
  cursor: pointer;
}


.results_block {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.results_title {
  line-height: 100%;
  font-size: 120%; 
  font-style: italic;
}
.results_table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: $font-color_white;
  background-color: $font-color;
  border: 4px outset;
}

.results_line {
 display: flex;
 justify-content: stretch;
}
.results_item {
  padding: 5px 15px;
  border-bottom: 1px solid $color_active_cells;
}

.window_name {
  position: fixed;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  font-size: 110%;
  border: 4px outset;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: $cell_color;
  color: $font-color_white;
}

.window_name_title {

}

#player {

}

.button_submit {
 cursor:pointer;
 max-width: 90px;
  padding: 10px 15px;
  border: 1px solid $color_border_cells;
}